<div class="row a_comment dn-cmt" id="comment-<%= comment.id %>">
  <div class="dn-user">
    <a>
      <div>
        <%= image_tag comment.user.avatar, class: "dn-admin-user-image-1" %>
      </div>
      <strong><%= comment.user.name.blank? ? comment.user.email : comment.user.name %></strong>
    </a>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-9 dn-cmt-content">
    <%= render "admin/comments/comment_edit_form", comment: comment %>
    <br/>
    <h6><%= time_ago_in_words(comment.created_at) %>. </h6>
  </div>
  <div class="">
      <%= link_to t(:edit), edit_admin_comment_path(comment), remote: true %>
      <%= link_to "Delete", [:admin, comment], method: :delete, data: {confirm: t(:sure)}, remote: true %>
  </div>
</div>
