<div class="dn-page-header container">
  <h1>PROFESSIONAL REVIEWS <span>/ by THE FIRST TEAM</span></h1>
</div>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="index-1.JPG"></div>
        <div class="swiper-slide"><img src="http://review.mainguyen.vn/img/2015/11/topic/m/Z5-bia-review.jpg"></div>
        <div class="swiper-slide"><img src="index-5.jpg"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next dn-button-slide"></div>
    <div class="swiper-button-prev dn-button-slide"></div>
</div>

<div class="container-fluid content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <section class="dn-review-cates">
        <% if @phones[0].present? %>
          <section class="dn-review-item dn-type-2">
            <a href="phones/<%= @phones[0].id %>">
              <div>
                <img src="index-1.JPG">
                <div class="dn-figcaption">
                  <div class="dn-title">
                    <h3><%= @phones[0].name %></h3>
                    <div class="meta">
                      <span class="comment">
                        <%= @phones[0].comments.count %>
                      </span>
                    </div>
                  </div>

                  <div class="dn-index-star">
                    <p class="phone-star" data-rate-score="<%= @phones[0].rate_score %>"
                      title="<%= @phones[0].rate_score %>"</p>
                  </div>
                </div>
              </div>
            </a>
          </section>
        <% end %>
        <% if @phones[1].present? %>
          <section class="dn-review-item dn-type-3">
            <a href="phones/<%= @phones[1].id %>">
              <div>
                <img src="index-2.jpg">
                <div class="dn-figcaption">
                  <div class="dn-title">
                    <h3><%= @phones[1].name %></h3>
                    <div class="meta">
                      <span class="comment">
                        <%= @phones[1].comments.count %>
                      </span>
                    </div>
                  </div>
                  <div class="dn-index-star">
                    <p class="phone-star" data-rate-score="<%= @phones[0].rate_score %>"
                      title="<%= @phones[0].rate_score %>"</p>
                  </div>
                </div>
              </div>
            </a>
          </section>
        <% end %>
        <% if @phones[2].present? %>
          <section class="dn-review-item dn-type-3">
            <a href="phones/<%= @phones[2].id %>">
              <div>
                <img src="index-3.jpg">
                <div class="dn-figcaption">
                  <div class="dn-title">
                    <h3><%= @phones[2].name %></h3>
                    <span class="comment">
                      <%= @phones[2].comments.count %>
                    </span>
                  </div>
                  <div class="dn-index-star">
                    <p class="phone-star" data-rate-score="<%= @phones[0].rate_score %>"
                      title="<%= @phones[0].rate_score %>"</p>
                  </div>
                </div>
              </div>
            </a>
          </section>
        <% end %>
        <% if @phones[3].present? %>
          <section class="dn-review-item dn-type-1">
            <a href="phones/<%= @phones[3].id %>">
              <div>
                <img src="index-4.jpg">
                <div class="dn-figcaption">
                  <div class="dn-title">
                    <h3><%= @phones[3].name %></h3>
                    <div class="meta">
                      <span class="comment">
                        <%= @phones[3].comments.count %>
                      </span>
                    </div>
                  </div>
                  <div class="dn-index-star">
                    <p class="phone-star" data-rate-score="<%= @phones[0].rate_score %>"
                      title="<%= @phones[0].rate_score %>"</p>
                  </div>
                </div>
              </div>
            </a>
          </section>
        <% end %>
          <div class="clearfix"></div>
        </section>
        <div class="pagination">

        </div>
      </div>
      <div class="col-md-3">
        <div class="dn-top-title">
          <p class="">Top ranking </p>
        </div>
        <div class="dn-top-content">
          <ul>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="/iphone1.png">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="/iphone1.png">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="/iphone1.png">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="/iphone1.png">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="/iphone1.png">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="/iphone1.png">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li>
              <div class="dn-top-content-a">
                <a href="#">
                  <img src="/iphone1.png">
                </a>
              </div>
              <div class="dn-top-content-name">
                <p class="dn-top-content-phone">Iphone 4</p>
                <p class="star">5 sao</p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-9 dn-pagination"><%= paginate @phones %></div>
    </div>
    <div class="row hl-favorite">
      <div class="col-xs-12 text-center hl-title">
        <span>ĐƯỢC ƯA CHUỘNG</span>
      </div>
      <div class="swiper-container1">
        <div class="swiper-wrapper">
          <div class="swiper-slide hl-favorite-slide1">
             <a href="#"><img src="/iphone1.png"></a>
              <span>produc name1</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="/iphone1.png"></a>
              <span>produc name2</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="/iphone1.png"></a>
              <span>produc name3</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="/iphone1.png"></a>
              <span>produc name4</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="/iphone1.png"></a>
              <span>produc name5</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="/iphone1.png"></a>
              <span>produc name6</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="/iphone1.png"></a>
              <span>produc name7</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="/iphone1.png"></a>
              <span>produc name8</span>
          </div>
          <div class="swiper-slide hl-favorite-slide1">
              <a href="#"><img src="/iphone1.png"></a>
              <span>produc name9</span>
          </div>
        </div>

        <div class="swiper-button-next hl-prev1"></div>
        <div class="swiper-button-prev hl-next1"></div>
      </div>
          <div class="col-md-12" style="height: 1px;background-color: #E8E8E8;margin: 30px 0"></div>
    </div>
  </div>
</div>

<script>
var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    paginationClickable: true,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: 50000,
    autoplayDisableOnInteraction: false,
    loop: true
});
</script>

<script>
var swiper2 = new Swiper('.hl-favorite .swiper-container1', {
    autoplay: 50000,
    autoplayDisableOnInteraction: false,
    nextButton: '.hl-next1',
    prevButton: '.hl-prev1',
    slidesPerView: 5,
    slidesPerGroup : 5,
    paginationClickable: true,
    loop: true,
    speed : 1000
});
</script>
<script>
$('p.phone-star').raty({
  hints: ['1', '2', '3','4', '5'],
  score: function(){
    return $(this).attr('data-rate-score');
  },
  readOnly: true

});
</script>
