<p>
  <strong>Title</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Category</strong>
  <%= @phone.category.name %>
</p>

<p>
  <strong>Body</strong>
  <%= raw @phone.description %>
</p>

<%#= rating_for_user @phone, current_user, "quality" %>
<%#= rating_for @phone, "quality", imdb_avg: true, disable_after_rate: true %>

Quality  : <%= rating_for @phone, "quality", target: '#hintDiv', disable_after_rate: true %>
<div id="hintDiv"></div>
Avarage:<%= @phone_avg %>
</br>
Rate count: <%= @phone.rates("quality").count %>

<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click', 'div.star img', function() {
      location.reload();
    });
  })
</script>
