<p>
  <strong>Title</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Category</strong>
  <%= @phone.category.name unless @phone.category.nil? %>
</p>

<p>
  <strong>Description</strong>
  <%= raw @phone.description unless @phone.description.nil? %>
</p>
<% if user_signed_in? && !@voted %>
<div id="star"></div>
<div id="target"></div>
Average score: <div id="avg-score">
  <%= @phone.rate_score.round(2) unless @phone.rate_score.nil? %>
</div>
Reviewed count: <div id="reviews-count">
  <%= @phone.reviews.count  %>
</div>
<script>
$('#star').raty({
	hints: ['1', '2', '3','4', '5'],
	target: '#target',
	targetFormat: 'You are choosing {score}',
	targetText: 'none',
	click: function(score, evt) {
		phone_id = '<%= @phone.id%>';
		user_id = '<%= current_user.id%>';
		review = {
				'user_id': user_id,
				'phone_id': phone_id,
				'rate_review': score
		};
		$.ajax({
			url: '/phones/<%= @phone.id%>/reviews',
			type: 'POST',
			data: {
				'review': review
			},
			dataType: 'json',
			success: function(data){
				$("#avg-score").text(parseFloat(data.average).toFixed(2));
				$("#reviews-count").text(parseFloat(data.reviews_count).toFixed(2));
				$("#star").raty('readOnly', true);
			}

		});
  	}
});
</script>
<% elsif user_signed_in? && @voted %>
<div id="star"></div>
<div id="target"></div>
Average score: <div id="avg-score">
  <%= @phone.rate_score.round(2) unless @phone.rate_score.nil? %>
</div>
Reviewed count: <div id="reviews-count">
  <%= @phone.reviews.count  %>
</div>
<script>
$('#star').raty({
	hints: ['1', '2', '3','4', '5'],
	readOnly: true,
	score: '<%= @review.rate_review %>',
	target: '#target',
	targetFormat: 'You choosed <%= @review.rate_review %>',
	targetText: 'none',
});
</script>
<% end %>

<% unless @phone.comments.nil? %>
 <div id="comments-of-phone-<%= @phone.id %>">
    <%= render @phone.comments %>
</div>
<% end %>

<% if user_signed_in? %>
  <div class="col-md-12">
    <%= render "shared/comment_form", phone: @phone %>
  </div>
<% end %>

 <div class="clearfix"></div>
