<%= form_for resource, as: resource_name,
  url: session_path(resource_name), html: {class: "form-login"} do |f| %>

    <div class="form-log-in-with-email">

      <div class="form-white-background">

        <div class="form-title-row">
          <h1>Log in</h1>
        </div>

        <div class="form-row">
          <label>
            <span>Email</span>
            <%= f.email_field :email, autofocus: true %>
          </label>
        </div>

        <div class="form-row">
          <label>
            <span>Password</span>
            <%= f.password_field :password, autocomplete: "off" %>
          </label>
        </div>

        <div class="form-row">
          <label class="form-checkbox">
            <%= f.check_box :remember_me %>
            <span class="remember"><b>Remember me</span>
          </label>
        </div>

        <div class="form-row">
          <button type="submit">Log in</button>
        </div>

      </div>

        <!-- <a href="#" class="form-forgotten-password">Forgotten password &middot;</a> -->
        <%= link_to "Create an account", new_registration_path(resource_name),
          class: "form-create-an-account" %>

    </div>

    <div class="form-sign-in-with-social">

      <div class="form-row form-title-row">
        <span class="form-title">Sign in with</span>
      </div>

      <!-- <a href="#" class="form-google-button">Google</a> -->
      <!-- <a href="#" class="form-facebook-button">Facebook</a> -->
      <%= link_to "Facebook", user_facebook_omniauth_authorize_path, class: "form-facebook-button" %>
      <%= link_to "Twitter", user_twitter_omniauth_authorize_path, class: "form-twitter-button" %>
      <!-- <a href="#" class="form-twitter-button">Twitter</a> -->

    </div>

<% end %>

